@font-face {
  font-display: swap;
  font-family: mononoki;
  font-style:  normal;
  font-weight: 400;
  src: url("../fonts/mononoki-Regular.otf") format("opentype");
}

@font-face {
  font-display: swap;
  font-family: mononoki;
  font-style:  normal;
  font-weight: 800;
  src: url("../fonts/mononoki-Bold.otf") format("opentype");
}
